parameters:
  paths:
    - Core
    - Handlers
    - Interfaces
    - Processors
    - Providers
    - Release

  scanFiles:
    - Context.php
    - MonologConfiguration.php
    - MonologLoggerFactory.php
    - ShutdownActiveModulesDataProviderBridge.php

  level: 8
  phpVersion: 80000
  ignoreErrors:
    - '#\$session with type OxidEsales\\EshopCommunity\\Core\\Session is not subtype of native type OxidEsales\\Eshop\\Core\\Session\.#'
    - '#SessionIdProcessor::__invoke\(\) has parameter \$records with no value type specified in iterable type array\.#'
    - '#SessionIdProcessor::__invoke\(\) return type has no value type specified in iterable type array\.#'