parameters:
  paths: 
    - Core
    - Handlers
    - Interfaces
    - Processors
    - Providers
    - Release

  scanFiles:
    - Context.php
    - MonologConfiguration.php
    - MonologLoggerFactory.php
    - ShutdownActiveModulesDataProviderBridge.php

  level: 8
  phpVersion: 80000
  ignoreErrors:
    - '#\$config with type OxidEsales\\EshopCommunity\\Core\\Config is not subtype of native type OxidEsales\\Eshop\\Core\\Config\.#'
    - '#\$session with type OxidEsales\\EshopCommunity\\Core\\Session is not subtype of native type OxidEsales\\Eshop\\Core\\Session\.#'
    - '#D3\\OxLogiQ\\Processors\\SessionIdProcessor::__invoke\(\) .*? no value type specified in iterable type array\.#'
