services:
  _defaults:
    autowire: true

  oxid.config:
    class: OxidEsales\Eshop\Core\Config
    factory: ['OxidEsales\Eshop\Core\Registry', 'getConfig']

  OxidEsales\EshopCommunity\Internal\Framework\Logger\Factory\LoggerFactoryInterface:
    class: D3\OxLogiQ\MonologLoggerFactory

  D3\OxLogiQ\MonologConfiguration:
    class: D3\OxLogiQ\MonologConfiguration
    decorates: OxidEsales\EshopCommunity\Internal\Framework\Logger\Configuration\MonologConfigurationInterface
    decoration_inner_name: 'oxid.monolog_config.inner'
    arguments:
      - '@oxid.monolog_config.inner'
      - '@oxid.config'
      - '@=service("OxidEsales\\EshopCommunity\\Internal\\Transition\\Utility\\ContextInterface").getRemainingLogFiles()'
      - '@=service("OxidEsales\\EshopCommunity\\Internal\\Transition\\Utility\\ContextInterface").getNotificationMailAddress()'

  OxidEsales\EshopCommunity\Internal\Transition\Utility\ContextInterface:
    class: D3\OxLogiQ\Context
    public: true
