services:
  _defaults:
    autowire: true

  oxid.config:
    class: OxidEsales\Eshop\Core\Config
    factory: ['OxidEsales\Eshop\Core\Registry', 'getConfig']

  D3\LoggerFactory\LoggerFactory:
    class: D3\LoggerFactory\LoggerFactory
    factory: ['D3\LoggerFactory\LoggerFactory', 'create']

  OxidEsales\EshopCommunity\Internal\Framework\Logger\Factory\LoggerFactoryInterface:
    class: D3\OxLogIQ\MonologLoggerFactory

  D3\OxLogIQ\Release\ReleaseServiceInterface:
    class: D3\OxLogIQ\Release\ReleaseService
    public: true

  D3\OxLogIQ\MonologConfiguration:
    class: D3\OxLogIQ\MonologConfiguration
    decorates: OxidEsales\EshopCommunity\Internal\Framework\Logger\Configuration\MonologConfigurationInterface
    decoration_inner_name: 'oxid.monolog_config.inner'
    arguments:
      - '@oxid.monolog_config.inner'
      - '@oxid.config'

  OxidEsales\EshopCommunity\Internal\Transition\Utility\ContextInterface:
    class: D3\OxLogIQ\Context
    public: true

  D3\OxLogIQ\ShutdownActiveModulesDataProviderBridge:
    class: D3\OxLogIQ\ShutdownActiveModulesDataProviderBridge
    decorates: OxidEsales\EshopCommunity\Internal\Framework\Module\Facade\ActiveModulesDataProviderBridgeInterface
    decoration_inner_name: 'oxid.active_modules_data_provider_bridge.inner'
    arguments:
      - '@oxid.active_modules_data_provider_bridge.inner'