services:
  _defaults:
    autowire: true

  oxlogiq.oxid.session:
    class: OxidEsales\Eshop\Core\Sessiom
    factory: ['OxidEsales\Eshop\Core\Registry', 'getSession']

  oxlogiq.oxid.config:
    class: OxidEsales\Eshop\Core\Config
    factory: ['OxidEsales\Eshop\Core\Registry', 'getConfig']

  D3\OxLogIQ\Interfaces\FallbackHandlerInterface:
    class: D3\OxLogIQ\Handlers\FallbackHandler

  D3\OxLogIQ\Interfaces\FallbackLoggerInterface:
    class: D3\OxLogIQ\Core\FallbackLogger

  D3\LoggerFactory\LoggerFactory:
    class: D3\LoggerFactory\LoggerFactory
    factory: ['D3\LoggerFactory\LoggerFactory', 'create']

  OxidEsales\EshopCommunity\Internal\Framework\Logger\Factory\LoggerFactoryInterface:
    class: D3\OxLogIQ\MonologLoggerFactory
    arguments:
      $providers: !tagged_iterator oxlogiq.provider

  D3\OxLogIQ\Release\ReleaseServiceInterface:
    class: D3\OxLogIQ\Release\ReleaseService
    public: true

  D3\OxLogIQ\MonologConfiguration:
    class: D3\OxLogIQ\MonologConfiguration
    decorates: OxidEsales\EshopCommunity\Internal\Framework\Logger\Configuration\MonologConfigurationInterface
    decoration_inner_name: 'oxlogiq.monolog_config.inner'
    arguments:
      - '@oxlogiq.monolog_config.inner'
      - '@oxlogiq.oxid.config'

  OxidEsales\EshopCommunity\Internal\Transition\Utility\ContextInterface:
    class: D3\OxLogIQ\Context
    public: true

  D3\OxLogIQ\ShutdownActiveModulesDataProviderBridge:
    class: D3\OxLogIQ\ShutdownActiveModulesDataProviderBridge
    decorates: OxidEsales\EshopCommunity\Internal\Framework\Module\Facade\ActiveModulesDataProviderBridgeInterface
    decoration_inner_name: 'oxlogiq.active_modules_data_provider_bridge.inner'
    arguments:
      - '@oxlogiq.active_modules_data_provider_bridge.inner'

  oxlogiq.monolog.filehandlerformatter:
    class: Monolog\Formatter\LineFormatter

  D3\OxLogIQ\Providers\Handlers\FileHandlerProvider:
    arguments:
      $formatter: '@oxlogiq.monolog.filehandlerformatter'
    tags:
      - { name: oxlogiq.provider, default_priority_method: getPriority }

  D3\OxLogIQ\Providers\Handlers\MailHandlerProvider:
    arguments:
      $shopConfig: '@oxlogiq.oxid.config'
    tags:
      - { name: oxlogiq.provider, default_priority_method: getPriority }

  D3\OxLogIQ\Providers\Processors\IntrospectionProcessorProvider:
    tags:
      - { name: oxlogiq.provider, default_priority_method: getPriority }

  D3\OxLogIQ\Providers\Processors\SessionIdProcessorProvider:
    arguments:
      - '@oxlogiq.oxid.session'
    tags:
      - { name: oxlogiq.provider, default_priority_method: getPriority }

  D3\OxLogIQ\Providers\Processors\UidProcessorProvider:
    tags:
      - { name: oxlogiq.provider, default_priority_method: getPriority }